matplotlib==3.7.1
numpy==1.23.5
nystrom_attention==0.0.11
pandas==1.5.3
Pillow==9.4.0
pyvips==2.2.1
PyYAML==6.0
scikit_learn==1.2.2
timm==0.6.12
torch==1.13.1+cu116
torchvision==0.14.1+cu116
tqdm==4.65.0
wandb==0.15.2
